:root {
  --black: #22293e;
  --brand: #8c82fc;
  --brand-1: #394360;
  --green: #44e4c9;
  --grey-1: #a2b3bf;
  --grey-2: #f7f7fd;
  --grey-3: #f8f8ff;
  --grey-4: #BAB8D2;
  --white: #fff;

  --w-laptop: 1212px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Manrope", sans-serif;
  background-color: var(--white);
  color: var(--black);
}

:is(html, body)::selection {
  background-color: var(--brand);
}

#container {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.btn {
  all: unset;
  cursor: pointer;
  user-select: none;
}

.btn--small {
  padding-inline: 58px;
  border-radius: 6px;
  height: 36px;
  font-weight: 700;
  font-size: 15px;
}

.btn--normal {
  padding-inline: 32px;
  border-radius: 10px;
  height: 52px;
  font-weight: 600;
  font-size: 20px;
}

.btn--large {
  padding-inline: 54px;
  border-radius: 10px;
  height: 70px;
  font-weight: 700;
  font-size: 23px;
}

.btn--primary {
  background-color: var(--brand);
  color: var(--white);
}

.btn--tertiary {
  color: var(--brand);
}

.header {
  padding-top: 80px;
  padding-bottom: 105px;
}

.header__wrapper {
  margin-inline: auto;
  width: var(--w-laptop);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__lists {
  display: flex;
  column-gap: 40px;
}

.header__list {
  list-style: none;
}

.header__anchor {
  text-decoration: none;
  color: var(--brand-1);
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease-out;
}

.header__anchor:hover {
  color: var(--grey-1);
}

.header__group-cta > .btn {
  transition: all 0.3s ease-out;
}

/* start state button .header__group-cta */
.header__group-cta > .btn:first-child:hover {
  color: var(--brand-1);
}
.header__group-cta > .btn:last-child:hover {
  outline: 1px solid var(--brand);
  background-color: var(--white);
  color: var(--brand);
}
/* end state button .header__group-cta */

.hero__wrapper {
  width: var(--w-laptop);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.hero__content {
  padding-top: 40px;
  flex: 0 520px;
}

.hero__subtitle {
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  color: var(--brand);
  letter-spacing: 6px;
}

.hero__title {
  margin-bottom: 26px;
  font-size: 64px;
  font-weight: 800;
  text-wrap: balance;
}

.hero__desc {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
}

.hero__group-cta {
  display: flex;
  justify-content: space-between;
}

.hero__group-cta > .btn:last-child {
  background-color: var(--grey-2);
  color: var(--grey-1);
}

.hero__group-cta > .btn {
  transition: all 0.3s ease-out;
}

/* start state button .hero__group-cta */
.hero__group-cta > .btn:first-child:hover {
  outline: 1px solid var(--brand);
  background-color: var(--white);
  color: var(--brand);
}
.hero__group-cta > .btn:last-child:hover {
  outline: 1px solid var(--grey-1);
  background-color: var(--white);
}
/* end state button .hero__group-cta */

.hero__image {
  display: flex;
  position: relative;
}

.hero__man {
  margin: auto;
}

.hero__graph {
  position: absolute;
  left: -100px;
  top: -20px;
}

.learning {
  background-color: var(--grey-3);
  padding-block: 80px;
}

.learning__wrapper {
  width: var(--w-laptop);
  margin-inline: auto;
}

.learning__subtitle {
  margin-bottom: 4px;
  color: var(--brand);
  font-size: 20px;
  font-weight: 700;
}

.learning__title {
  width: 55%;
  font-weight: 700;
  font-size: 44px;
  text-wrap: balance;
  margin-bottom: 16px;
}

.learning__desc {
  width: 40%;
  text-wrap: balance;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 60px;
}

.learning__cards {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.learning__card {
  width: min(100%, 250px);
  background-color: var(--white);
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.learning__card > .btn {
  align-self: stretch;
  text-align: center;
  background-color: var(--green);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

.learning__card > .btn:hover {
  background-color: var(--white);
  color: var(--green);
  outline: 1px solid var(--green);
}

:is(.learning__card-image, .learning__card-desc) {
  margin-bottom: 30px;
}

.learning__card-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.learning__card-desc {
  font-size: 14px;
}

.about-us {
  padding-block: 80px;
}

.about-us__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: var(--w-laptop);
  margin-inline: auto;
}

.about-us__image {
  width: 600px;
  position: relative;
}

.about-us__image > img:last-child {
  position: absolute;
  bottom: -140px;
  right: 0;
}

.about-us__content {
  width: 470px;
}

.about-us__subtitle {
  color: var(--brand);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.about-us__title {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 20px;
}

.about-us__desc {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 50px;
}

.about-us__lists {
  width: 80%;
}

.about-us__list {
  display: flex;
  align-items: center;
  column-gap: 24px;
  list-style: none;
  margin-bottom: 30px;
}

.about-us__list > svg {
  flex: 1 0 auto;
}

.about-us__list-desc {
  font-weight: 600;
  font-size: 20px;
}

.company {
  background-color: var(--grey-3);
  padding-block: 80px;
}

.company__wrapper {
  width: var(--w-laptop);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company__title {
  font-weight: 800;
  font-size: 44px;
  margin-bottom: 20px;
}

.company__desc {
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 80px;
}

.company__our-partner {
  display: flex;
  flex-flow: row wrap;
  gap: 70px;
  justify-content: center;
}

.company__partner-list {
  list-style: none;
}

.testimonial {
  padding-block: 80px;
}

.testimonial__wrapper {
  width: var(--w-laptop);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial__title {
  font-weight: 700;
  font-size: 20px;
  color: var(--brand);
  margin-bottom: 4px;
}

.testimonial__subtitle {
  font-weight: 800;
  font-size: 44px;
  margin-bottom: 16px;
}

.testimonial__desc {
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 24px;
}

.testimonial__cards {
  display: flex;
  justify-content: space-between;
}

.testimonial__card {
  width: min(100%, 240px);
  background-color: var(--white);
  padding-inline: 24px;
  padding-block: 0 48px;
  border: 1px solid var(--brand);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial__image {
  position: relative;
  top: -40px;
}

.testimonial__username {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 2px;
}

.testimonial__job {
  font-size: 15px;
  color: var(--grey-4);
  margin-bottom: 30px;
}

.testimonial__quote > p {
  font-size: 17px;
  text-align: center;
}